<div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Название</th>
				<th>Год</th>
				<th>Цена</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books" ng-click="clickTr($event)">
				<td>{{$index + 1}}</td>
				<td>{{book.title | myFilter : 111 : 222}}</td>
				<td>{{book.year}}</td>
				<!-- <td>{{book.price}}</td> -->
				<td>{{book.price | currency : '$ ' : 0}}</td>
				<!-- <td>{{book.price | number : 2}} $</td> -->
			</tr>
		</tbody>
	</table>
</div>